<br />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-0">
            <form class="form-horizontal" id="property_form">
                <div class="form-group">
                    <label for="input1" class="col-sm-2 control-label">traj</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control property" id="input1"
                               placeholder="例如：/data/aiida_test/test_nmr/notes/data/tutorial/5000.xyz" name="traj">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input2" class="col-sm-2 control-label">expression</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control property" id="input2"
                               placeholder="例如：soap cutoff=5.5 cutoff_transition_width=0.5 n_max=9 l_max=9 atom_sigma=0.55 n_Z=1 n_species=4 species_Z={11, 12, 25, 8}"
                               name="expression">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input3" class="col-sm-2 control-label">elements</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control property" id="input3" placeholder="请以英文逗号分隔。例如：Li,Na,K"
                               name="elements">
                    </div>
                </div>

                <div class="form-group">
                    <label for="input4" class="col-sm-2 control-label">model</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control property" id="input4"
                               placeholder="例如：/data/aiida_test/test_nmr/notes/data/tutorial/na_data_200/model_test"
                               name="model">
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                高级选项
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">

                            <div class="form-group">
                                <label for="input5" class="col-sm-2 control-label">machine</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control property" id="input5" name="machine"
                                           value="metal">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input6" class="col-sm-2 control-label">local_dir</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control property" id="input6" name="local_dir"
                                           value="/Users/xiongjf/Works/PyCharmProjects/airflow/dags">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input7" class="col-sm-2 control-label">remote_dir</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control property" id="input7" name="remote_dir"
                                           value="/data/aiida_test/test_airflow">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input8" class="col-sm-2 control-label">putfiles</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control property" id="input8" name="putfiles"
                                           value="gpu.lsf, gpu.py, nmr_model.py">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input9" class="col-sm-2 control-label">getfiles</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control property" id="input9" name="getfiles"
                                           value="fcshifts_pred.npy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>