{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

{% extends base_template %}
{% from 'appbuilder/dag_docs.html' import dag_docs %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for_asset('codemirror.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for_asset('lint.css') }}">
{% endblock %}

{% block content %}
  {{ super() }}
  <h2>Trigger DAG: {{ dag_id }}</h2>
  {{ dag_docs(doc_md) }}

  <!-- 将target中的内容（即property_form）include到此处 -->
  {% include target %}

  <form method="POST" id='submit_form' class="col-md-offset-1">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="dag_id" value="{{ dag_id }}">
    <input type="hidden" name="origin" value="{{ origin }}">
    <input type="hidden" name="is_modified_by_cheng_group" value="{{ is_modified_by_cheng_group }}">
    <div class="form-group {{ hidden }}">
      <label for="conf">Configuration JSON (Optional, must be a dict object)</label>
      <textarea class="form-control" name="conf" id="json">{{ conf }}</textarea>
    </div>
    <p class="{{ hidden }}">
      To access configuration in your DAG use <code>{{ '{{ dag_run.conf }}' }}</code>.
    </p>
    <button type="submit" class="btn btn-primary">Trigger</button>
    <button type="button" class="btn" onclick="location.href = '{{ origin }}'; return false">Cancel</button>
  </form>
<script>
  //用户点击submit后，将property_form中的内容序列化并填入submit_form
  const submit_form = document.querySelector('#submit_form');
  const property_form = document.querySelector('#property_form')
  const is_modified_by_cheng_group = (document.querySelector('input[name="is_modified_by_cheng_group"]').getAttribute('value') === 'yes');

  submit_form.addEventListener('submit', function (event) {
    if (is_modified_by_cheng_group) {
      //序列化property_form
      let serialize_property_array = $("form#property_form [name]").serializeArray();
      let conf_object = {};
      serialize_property_array.forEach(element => {
        let conf = element.name;
        currently_processing_element = property_form.querySelector(`[name=${conf}]`);
        //如果有value-split-by属性，就按照该属性的值把内容分解为Array，方便后端读取
        if (currently_processing_element.hasAttribute("value-split-by")) {
          // 使用 trim() 去除前后空格，按照 value-split-by 的值拆分为Array
          var value = element.value.split(currently_processing_element.getAttribute("value-split-by").trim());
        } else {
          var value = element.value;
        }
        conf_object[conf] = value;
      });
      //将序列化好的JSON对象转为字符串，填入submit_form
      conf_string = JSON.stringify(conf_object);
      submit_form.querySelector('textarea[name="conf"]').innerText = conf_string;
      //浏览器会自动把submit_form上传给后端
    }

  })



  //验证表单内容合法性
  function update_validate_information (event){
    let url_conf = encodeURIComponent(event.target.getAttribute('validate-data'));
    let url_value = encodeURIComponent($(event.target).serializeArray()[0].value);
    fetch('/validate_value?'+ url_conf + '=' + url_value).then((response) => {
      response.text().then((text) => {
        let hidden_div = event.target.parentElement.querySelector('div.alert');
        let reason = event.target.parentElement.querySelector('.reason')

        if (text === "validated"){
          hidden_div.setAttribute('hidden','')
        }else{
          reason.innerHTML = text;
          hidden_div.removeAttribute('hidden');
        }
    });
    })
  }

  const validate_input = property_form.querySelectorAll('[validate-data]');

  // 在用户输入时触发上面的 update_validate_information 函数
  validate_input.forEach(element => {
    element.addEventListener('input', (event) => {
      if (event.target.hasAttribute('validate-strategy') && event.target.getAttribute('validate-strategy') === 'input') {
        update_validate_information(event);
      }

    })
  })

  validate_input.forEach(element =>{
    element.addEventListener('change',(event)=>{
      if (event.target.hasAttribute('validate-strategy') && event.target.getAttribute('validate-strategy') === 'change'){
        event.target.setAttribute('validate-strategy','input')
        update_validate_information(event);
      }

    })
  })


  // 自动补全相关
  const autocomplete_input = property_form.querySelectorAll('[auto-complete]');

  function autosuggest(event) {
    let url_conf = encodeURIComponent(event.target.getAttribute('auto-complete'));
    let url_value = encodeURIComponent($(event.target).serializeArray()[0].value);
    fetch('/autocomplete?'+ url_conf + '=' + url_value).then((response) => {
      response.text().then((text) => {
        let datalist = event.target.parentElement.querySelector('datalist');
        if (text != 'No such file or directory'){
          dir_list = JSON.parse(text);
          datalist.innerHTML = ''
          dir_list.forEach(element=>{
            let option = document.createElement("option");
            option.innerText = element;
            datalist.appendChild(option);
          })
        }


      })
      })
  }

  autocomplete_input.forEach(element => {
    element.addEventListener('input', autosuggest)
  })


</script>
{% endblock %}

{% block tail_js %}
{# 如果写了模板，就不需要codemirrror.js了。 #}
{% if is_modified_by_cheng_group == 'no' %}
  <script src="{{ url_for_asset('codemirror.js') }}"></script>
{% endif %}
  <script src="{{ url_for_asset('javascript.js') }}"></script>
  <script src="{{ url_for_asset('lint.js') }}"></script>
  <script src="{{ url_for_asset('javascript-lint.js') }}"></script>
  <script src="{{ url_for_asset('jshint.js') }}"></script>
{% if is_modified_by_cheng_group == 'no' %}
  <script src="{{ url_for_asset('trigger.js') }}"></script>
{% endif %}
  {{ super() }}
{% endblock %}
