{#
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
#}

{% extends base_template %}
{% from 'appbuilder/dag_docs.html' import dag_docs %}

{% block head_css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for_asset('codemirror.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for_asset('lint.css') }}">
{% endblock %}

{% block content %}
  {{ super() }}
  <h2>Trigger DAG: {{ dag_id }}</h2>
  {{ dag_docs(doc_md) }}
  {% include target %}
  <form method="POST" id='submit_form'>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="dag_id" value="{{ dag_id }}">
    <input type="hidden" name="origin" value="{{ origin }}">
    <input type="hidden" name="is_modified_by_cheng_group" value="{{ is_modified_by_cheng_group }}">
    <div class="form-group {{ hidden }}">
      <label for="conf">Configuration JSON (Optional, must be a dict object)</label>
      <textarea class="form-control" name="conf" id="json">{{ conf }}</textarea>
    </div>
    <p class="{{ hidden }}">
      To access configuration in your DAG use <code>{{ '{{ dag_run.conf }}' }}</code>.
    </p>
    <button type="submit" class="btn btn-primary">Trigger</button>
    <button type="button" class="btn" onclick="location.href = '{{ origin }}'; return false">Cancel</button>
  </form>
<script>
  const submit_form = document.querySelector('#submit_form');
  const property_form = document.querySelector('#property_form')
  const is_modified_by_cheng_group = (document.querySelector('input[name="is_modified_by_cheng_group"]').getAttribute('value') === 'yes');

  submit_form.addEventListener('submit', function (event) {
    if (is_modified_by_cheng_group) {
      let serialize_property_array = $("#property_form").serializeArray();
      let conf_object = {};
      serialize_property_array.forEach(element => {
        let conf = element.name;
        let value = element.value;
        conf_object[conf] = value;
      });
      conf_string = JSON.stringify(conf_object);
      submit_form.querySelector('textarea[name="conf"]').innerText = conf_string;
    }

  })

</script>
{% endblock %}

{% block tail_js %}
{# 如果写了模板，就不需要codemirrror.js了。 #}
{% if is_modified_by_cheng_group == 'no' %}
  <script src="{{ url_for_asset('codemirror.js') }}"></script>
{% endif %}
  <script src="{{ url_for_asset('javascript.js') }}"></script>
  <script src="{{ url_for_asset('lint.js') }}"></script>
  <script src="{{ url_for_asset('javascript-lint.js') }}"></script>
  <script src="{{ url_for_asset('jshint.js') }}"></script>
  <script src="{{ url_for_asset('trigger.js') }}"></script>
  {{ super() }}
{% endblock %}
